body{
	margin:0;
	position:relative;
	width:100%;
	background-color:#FAF0E6;
	font-family: 'Lobster Two', sans-serif;
}
header{
	position:fixed;
	width:100%;
	z-index:5;
	background-color:#ffffff;
	height:1cm;
	padding-top:1.1cm;
	border-bottom-color:#f7bfc4;
	border-bottom-style:solid;
	border-bottom-width:1px;
	box-shadow:1px 1px 5px #f7bfc4;
}
header > nav{
	position:absolute;
	width:100%;
	align-items:center;
	display:flex;
	justify-content:space-between;
}
header > nav > figure{
	position:absolute;
	width:17%;
	margin:0%;
	left:2%;
}
header > nav > figure > img{
	height:2.1cm;
	width:5cm;
}
header > nav > ul{
	list-style-type:none;
	display:flex;
	align-items:center;
	position:absolute;
	gap:30px;
	width:32%;
	left:26%;
	font-size:22px;
}
header > nav > ul > li > a{
	text-decoration:none;
	color:#f6838d;
}
header > nav > ul > li > a:hover{
	text-decoration:underline #a4c04c 3px;
	text-underline-offset: 28px;
}
header > nav > div{
	position:absolute;
	width:20%;
	left:81%;
	display:flex;
	gap:25px;
}
header > nav > div > button{
	text-decoration:none;
	border:2px solid #a4c04c;
	border-radius:5px;
	font-size:17px;
	color:#a4c04c;
	padding:0.2cm;
	background-color:#ffffff;
}
header > nav > div > button:hover{
	background-color:#d3e0a9;
}
main{
	position:absolute;
	width:100%;
}
main > aside{
	position:absolute;
	width:15%;
	margin-top:2cm;
	text-align:center;
	background-color:white;
	border:2px solid #f7bfc4;
}
main > aside > p{
	padding:0.2cm 0px;
	box-shadow:1px 2px 2px lightgrey;
	font-size:20px;
	margin:0;
}
main > aside > p > .rose{
	color:#f6838d;
}
main > aside > p > a{
	text-decoration:none;
}
main > aside > .back-green:hover{
	background-color:#d3e0a9;
	box-shadow:1px 1px 5px #f7bfc4;
}
main > aside > p > .tulip{
	color:#a4c04c;
}
main > aside > .back-pink:hover{
	background-color:#f7bfc4;
	box-shadow:1px 1px 5px #a4c04c;
}
#Shop{
	position:absolute;
	width:85%;
	left:15%;
	margin-top:2.7cm;
	color:black;
}
#Top1-sec{
	position:absolute;
	width:80%;
	left:10%;
	border:5px solid #a4c04c;
	text-align:center;
	height:8cm;
	border-radius:0px 50px 0px 50px;
	background-color:white;
}
#Top1-sec > h1{
	color:#a4c04c;
}
#Top1-sec > h1 > span{
	color:#f6838d;
}
#Top1-sec > div{
	position:absolute;
	width:43%;
	top:75%;
	left:30%;
	display:flex;
	justify-content:space-between;
}
#Top1-sec > div > button{
	padding:0.2cm;
	font-size:15px;
	font-weight:bold;
	background-color:white;
	border-radius:0px 5px 0px 5px;
	font-family: 'Lobster Two', sans-serif;
}
#Top1-sec > div > #but1{
	border:2px solid #f6838d;
	color:#f6838d;
}
#Top1-sec > div > #but1:hover{
	background-color:#d3e0a9;
}
#Top1-sec > div > #but2{
	border:2px solid #a4c04c;
	color:#a4c04c;
}
#Top1-sec > div > #but2:hover{
	background-color:#f7bfc4;
}
#Occasions{
	position:absolute;
	width:85%;
	left:15%;
	margin-top:11.7cm;
	color:black;
}
#Top2-sec{
	position:absolute;
	width:80%;
	left:10%;
	border:5px solid #f6838d;
	text-align:center;
	height:7cm;
	border-radius:0px 50px 0px 50px;
	background-color:white;
}
#Top2-sec > h2{
	color:#a4c04c;
}
#Top2-sec > .bir{
	color:#f6838d;
}
#Top2-sec > .rom{
	color:#a4c04c;
}
#About{
	position:absolute;
	width:85%;
	left:15%;
	margin-top:19.7cm;
	color:black;
}
#Top3-sec{
	position:absolute;
	width:80%;
	left:10%;
	border:5px solid #a4c04c;
	text-align:center;
	height:6.3cm;
	border-radius:0px 50px 0px 50px;
	background-color:white;
}
#Top3-sec > h2{
	color:#f6838d;
}
#Top3-sec > p{
	text-indent:50px;
	margin-left:1cm;
	margin-right:1cm;
}
#Top3-sec > h3{
	color:#a4c04c;
}
#Weddings{
	position:absolute;
	width:95%;
	left:2%;
	display:flex;
	margin-top:27cm;
	color:black;
}
#Weddings > figure{
	margin:0;
}
#wedd-card{
	height:7.9cm;
	width:5.6cm;
}
#Top4-sec{
	position:absolute;
	width:71%;
	left:23%;
	border:5px solid #f6838d;
	text-align:center;
	height:7.7cm;
	border-radius:0px 50px 0px 50px;
	background-color:white;
}
#Top4-sec > h3{
	color:#f6838d;
}
#Top4-sec > h2{
	color:#a4c04c;
}
#Top4-sec > p{
	text-indent:50px;
	margin-left:1cm;
	margin-right:1cm;
}
#Top4-sec > button{
	padding:0.2cm;
	border-radius:0px 6px 0px 6px;
	background-color:white;
	border:2px solid #f6838d;
	color:#f6838d;
}
#Top4-sec > button:hover{
	background-color:#d3e0a9;
}
#Delivery{
	position:absolute;
	width:95%;
	left:2%;
	display:flex;
	margin-top:35.7cm;
	color:black;
}
#Delivery > figure{
	margin:0;
}
#del{
	height:7.5cm;
	width:5.6cm;
}
#Top5-sec{
	position:absolute;
	width:71%;
	left:23%;
	border:5px solid #a4c04c;
	text-align:center;
	height:7.3cm;
	border-radius:0px 50px 0px 50px;
	background-color:white;
}
#Top5-sec > section{
	position:absolute;
	width:90%;
	display:flex;
	left:3%;
	right:5%;
}
#Top5-sec > section > div{
	position:absolute;
	width:30%;
	padding:0px 10px;
	box-shadow:1px 1px 5px grey;
	border-radius:10px;
	border:1 px solid black;
	margin-top:0.3cm;
}
#Top5-sec > section > div:hover{
	margin-top:0cm;
}
#Top5-sec > section > #loc{
	left:0%;
}
#Top5-sec > section > #same{
	left:36%;
}
#Top5-sec > section > #han{
	left:72%;
}
#Top5-sec h2{
	color:#f6838d;
}
#Top5-sec h3{
	color:#a4c04c;
}
footer{
	position:absolute;
	width:100%;
	height:7cm;
	background-color:#d3e0a9;
	margin-top:44cm;
	border-top-color:#f6838d;
	border-top-style:solid;
	border-top-width:5px;
}
footer > section{
	position:absolute;
	width:80%;
	left:10%;
	right:10%;
	display:flex;
	justify-content:space-evenly;
}
footer > section > div{
	box-shadow:1px 1px 10px grey;
	border-radius:10px;
	height:5cm;
	border:1 px solid black;
	padding:0px 50px;
	margin-top:1cm;
	background-color:white;
}
footer > section > div:hover{
	margin-top:0.7cm;
}
footer > section > div span{
	font-weight:normal;
}
footer > div{
	margin-top:6.3cm;
	text-align:center;
	color:#f6838d;
}